{extend name="./common/base"/}
{block name="main"}
	<div class="container demo-2" id="home">
	{include file="./common/nav"}
	<!--#carbonads-container-->
			<div class="content">
                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                    <h1 class="main-title"><a class="link link--takiri" href="index.html">Want to be<span class="wow fadeInUp animated animated" data-wow-delay=".5s">Do you want to be first</span></a></h1>
				
                </div>

            </div>
 </div>
	<!--start-inner-content-->
		<div class="inner-content" id="services">
				<div class="wrap">
				     <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Job</h3>
				<!--start-top_section-->
				   <div class="top_section">
				       <div class="bnr-btm-left grid">
							<figure class="effect-ming wow fadeInLeft animated animated" data-wow-delay=".5s">
								<img src="__HIMG__/front.jpg" alt="img09"/>
								<figcaption>
									<h3>W<span>eb</span></h3>
									<p>前端开发工程师是Web前端开发工程师的简称</p>
									<a href="javascript:void(0)">View more</a>
								</figcaption>			
							</figure>
							
						</div>
						<div class="bnr-btm-right">				
							<h3>前端</h3>
							<p>前端开发工程师是Web前端开发工程师的简称，2007年才真正开始受到重视的一个新兴职业。Web前端开发技术是一个先易后难的过程，主要包括三个要素：HTML（标准通用标记语言下的一个应用）、级联样式表和JavaScript。
前端开发工程师不仅要掌握基本的Web前端开发技术，网站性能优化、SEO和服务器端的基础知识，而且要学会运用各种工具进行辅助开发以及理论层面的知识，包括代码的可维护性、组件的易用性、分层语义模板和浏览器分级支持等。</p>
							<a href="#" data-toggle="modal" data-target="#myModal1" class="buy btn-wayra">Read More</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<!--top_section2-->
					 <div class="top_section two">
					 	<div class="bnr-btm-right two">				
							<h3>后台</h3>
							<p>PHP技术人才，正迎合了目前的互联网的发展趋势；PHP作为非常优秀的、简便的Web开发语言，和Linux，Apache，MySQL紧密结合，形成LAMP的开源黄金组合，不仅降低使用成本，还提升了开发速度，满足最新的互动式网络开发的应用，这使得php软件工程师成为一个发展迅速的职业。</p>
						<a href="#" data-toggle="modal" data-target="#myModal2" class="buy btn-wayra">Read More</a>
						</div>
				       <div class="bnr-btm-left two grid">
							<figure class="effect-ming wow fadeInRight animated animated" data-wow-delay=".5s">
								<img src="__HIMG__/php.jpg" alt="img09"/>
								<figcaption>
									<h3>P<span>hp</span></h3>
									<p>PHP技术人才，正迎合了目前的互联网的发展趋势</p>
									<a href="javascript:void(0)">View more</a>
								</figcaption>			
							</figure>
							
						</div>
					
						<div class="clearfix"></div>
					</div>
					<!--//end-top_section-->
				</div>
		  </div>
		  <!-- app-->
			<div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog about" role="document">
					<div class="modal-content about">
						<div class="modal-header">
							<button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body about">
								<div class="about">
									  <h2 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">About</h2>
									  <div class="about-inner">
									   
									      <img src="__HIMG__/about.jpg" alt="about"/>
										     <h4 class="tittle">about us</h4>
										   <p>Web前端开发技术包括三个要素：HTML、CSS和JavaScript，随着RIA的流行和普及，Flash/Flex、Silverlight、XML和服务器端语言也是前端开发工程师应该掌握的。随着时代的发展，前端开发技术的三要素也演变成为现今的：html5，css3，jquery。
										   </p><p>Web前端开发工程师既要与上游的交互设计师、视觉设计师和产品经理沟通，又要与下游的服务器端工程师沟通，需要掌握的技能非常多。这就从知识的广度上对Web前端开发工程师提出了要求。如果要精于前端开发这一行，也许要先精十行。然而，全才总是少有的。所以，对于不太重要的知识，我们只需要“通”即可。但“通”到什么程度才算够用呢？对于很多初级前端开发工程师来说，这个问题是非常令人迷惑的。 </p>
									  </div>
												
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog about" role="document">
					<div class="modal-content about">
						<div class="modal-header">
							<button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body about">
								<div class="about">
									  <h2 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">About</h2>
									  <div class="about-inner">
									   
									      <img src="__HIMG__/about.jpg" alt="about"/>
										     <h4 class="tittle">about us</h4>
										   <p>“ PHP 工程师都是万金油”，其实这句话不仅仅对 PHP 工程师适用，应该对所有的工程师都适用。知识结构要很广。Web 开发涉及的技术点是比较多的，HTML、CSS、JS、SQL 这些以外，还要懂得一些 Nginx、Linux、Mysql 的配置、维护、排错常用的办法，这些都应该懂一些。</p>
										    <p在2000年5月22日，以Zend Engine 1.0为基础的PHP 4正式释出，2004年7月13日则释出了PHP 5，PHP 5则使用了第二代的Zend Engine[5]。PHP包含了许多新特色，像是强化的面向对象功能、引PDO（PHPData Objects，一个存取数据库的延伸函数库）、以及许多效能上的增强。目前PHP 4已经不会继续更新，以鼓励用户转移到PHP 5。 </p>
									  </div>
												
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //app-->

	<!--//end-inner-content-->
	<div class="staff" id="team">
      <div class="wrap">
	      <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Skills</h3>
		  <div class="team">
           <div class="col-md-3 staff2">
        	<div class="view view-fifth wow fadeInLeft animated animated" data-wow-delay=".5s">
                <div class="mask1"><img src="__HIMG__/t2.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    <div class="mask">
                       <a class="popup-with-zoom-anim" href="#small-dialog2"> <div class="info"><i class="glyphicon glyphicon-zoom-in"></i></div></a>
		                  <div id="small-dialog2" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="__HIMG__/t2.jpg" class="img-responsive" alt=""/>
								     <h3>About</h3>
							   	   <p class="popup_desc">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes </p>
							   </div>
						  </div>
					</div>
        	  <h3><a href="#">James </a></h3>
        	      <p>Lorem ipsum dolor sit amet. Integer gravida velit quis dolor tristiqumsan.</p>
        			<ul class="s_social">
						<li><a href=""> <i class="fb1"> </i> </a></li>
						<li><a href=""><i class="tw1"> </i> </a></li>
					    <li><a href=""><i class="linked1"> </i> </a></li>
						<li><a href=""><i class="google1"> </i> </a></li>
		 			</ul>
          </div>
        </div>
        <div class="col-md-3 staff2">
        	<div class="view view-fifth wow fadeInUp animated animated" data-wow-delay=".5s">
                <div class="mask1"><img src="__HIMG__/t1.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    <div class="mask">
                       <a class="popup-with-zoom-anim" href="#small-dialog1"> <div class="info"><i class="glyphicon glyphicon-zoom-in"></i></div></a>
		                  <div id="small-dialog1" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="__HIMG__/t1.jpg" class="img-responsive" alt=""/>
								     <h3>About</h3>
							   	  <p class="popup_desc">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes </p>
							   </div>
							 </div>
					</div>
        	 <h3><a href="#">Firoz </a></h3>
        	      <p>Lorem ipsum dolor sit amet Integer gravida velit quis dolor tristiqumsan.</p>
        			<ul class="s_social">
						<li><a href=""> <i class="fb1"> </i> </a></li>
						<li><a href=""><i class="tw1"> </i> </a></li>
					    <li><a href=""><i class="linked1"> </i> </a></li>
						<li><a href=""><i class="google1"> </i> </a></li>
		 			</ul>
          </div>
        </div>
		   <div class="col-md-3 staff2">
        	<div class="view view-fifth wow fadeInRight animated animated" data-wow-delay=".5s">
                <div class="mask1"><img src="__HIMG__/t3.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    <div class="mask">
                       <a class="popup-with-zoom-anim" href="#small-dialog3"> <div class="info"><i class="glyphicon glyphicon-zoom-in"></i></div></a>
		                  <div id="small-dialog3" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="__HIMG__/t3.jpg" class="img-responsive" alt=""/>
								   <h3>About</h3>
							   	   <p class="popup_desc">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes </p>
							   </div>
						  </div>
					</div>
        	       <h3><a href="#">David</a></h3>
        	      <p>Lorem ipsum dolor sit amet Integer gravida velit quis dolor tristiqumsan.</p>
        			<ul class="s_social">
						<li><a href=""> <i class="fb1"> </i> </a></li>
						<li><a href=""><i class="tw1"> </i> </a></li>
					    <li><a href=""><i class="linked1"> </i> </a></li>
						<li><a href=""><i class="google1"> </i> </a></li>
		 			</ul>
				</div>
				</div>

        <div class="col-md-3 staff2">
        	<div class="view view-fifth wow fadeInRight animated animated" data-wow-delay=".5s">
                <div class="mask1"><img src="__HIMG__/t4.jpg" alt="image" class="img-responsive zoom-img" /></div>
                    <div class="mask">
                       <a class="popup-with-zoom-anim" href="#small-dialog3"> <div class="info"><i class="glyphicon glyphicon-zoom-in"></i></div></a>
		                  <div id="small-dialog3" class="mfp-hide">
							   <div class="pop_up2">
							   	  <img src="__HIMG__/t4.jpg" class="img-responsive" alt=""/>
								   <h3>About</h3>
							   	   <p class="popup_desc">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes </p>
							   </div>
						  </div>
					</div>
        	       <h3><a href="#">Joseph</a></h3>
        	      <p>Lorem ipsum dolor sit amet Integer gravida velit quis dolor tristiqumsan.</p>
        			<ul class="s_social">
						<li><a href=""> <i class="fb1"> </i> </a></li>
						<li><a href=""><i class="tw1"> </i> </a></li>
					    <li><a href=""><i class="linked1"> </i> </a></li>
						<li><a href=""><i class="google1"> </i> </a></li>
		 			</ul>
				</div>
				</div>
			<div class="clearfix"></div>
		  </div>
		</div>
	</div>
	 <!--//team-->
	 <!--/portfolio-->
	 <div class="portfolio" id="gallery">
		 <div class="wrap">
		    <h3 class="tittle wow fadeInUp animated animated" data-wow-delay=".5s">Our skills</h3>
		  <div class="portfolio-top">
		    <div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s">
				<figure class="effect-jazz">
				<a href="#portfolioModal1"  data-toggle="modal">

					<img src="__HIMG__/p1.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>JAVASCRIPT</h4>
							<p> There are many variations of passages of Lorem Ipsum .</p>
						</figcaption>
					</a>						
				</figure>
			</div>
			<div class="col-md-4 grid slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
				<figure class="effect-jazz">
				<a href="#portfolioModal2"  data-toggle="modal">

					<img src="__HIMG__/p2.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>HTML+CSS</h4>
							<p> There are many variations of passages of Lorem Ipsum .</p>							
						</figcaption>	
						</a>						
				</figure>
			</div>
			<div class="col-md-4 grid slideanim wow fadeInRight animated animated" data-wow-delay=".5s">
				<figure class="effect-jazz">
				<a href="#portfolioModal3"  data-toggle="modal">

					<img src="__HIMG__/p3.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4>PHP</h4>
						<p> There are many variations of passages of Lorem Ipsum .</p>							
						</figcaption>
					</a>						
				</figure>
			</div>
			
			<div class="clearfix"></div>
		 </div>
		  <div class="portfolio-top">
			<div class="col-md-4 grid slideanim wow fadeInLeft animated animated animated" data-wow-delay=".5s"">
				<figure class="effect-jazz">
				<a href="#portfolioModal4"  data-toggle="modal">

					<img src="__HIMG__/p4.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4 class="effcet-text">Go Easy On</h4>
					<p> There are many variations of passages .</p>							
						</figcaption>	
					</a>						
				</figure>
			</div>
			<div class="col-md-4 grid grid-wi slideanim wow fadeInUp animated animated animated" data-wow-delay=".5s">
				<figure class="effect-jazz">
				<a href="#portfolioModal5"  data-toggle="modal">

					<img src="__HIMG__/p5.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4 class="effcet-text">Go Easy On</h4>
						<p> There are many variations of passages.</p>							
						</figcaption>
						</a>						
				</figure>
			</div>
			<div class="col-md-4 grid grid-wi slideanim wow fadeInRight animated animated" data-wow-delay=".5s"">
				<figure class="effect-jazz">
				<a href="#portfolioModal6"  data-toggle="modal">

					<img src="__HIMG__/p6.jpg" alt="img25" class="img-responsive"/>
						<figcaption>
							<h4 class="effcet-text">Go Easy On</h4>
							<p> There are many variations of passages.</p>							
						</figcaption>
					</a>						
				</figure>
			</div>
			<div class="clearfix"></div>
		 </div>
	   </div>
	</div>
 <!--//portfolio-->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
		
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Go Easy On</h3>
						
                        <img src="__HIMG__/p1.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
         
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Go Easy On</h3>
                      
                        <img src="__HIMG__/p2.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Go Easy On</h3>
                     
                        <img src="__HIMG__/p3.jpg" class="img-responsive" alt="">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
       
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Go Easy On</h3>
                       
                        <img src="__HIMG__/p4.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">

                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                         <h3>Go Easy On</h3>
                       
                        <img src="__HIMG__/p5.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Go Easy On</h3>
                       
                        <img src="__HIMG__/p6.jpg" class="img-responsive" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<!-- //Portfolio Modals -->
 <div class="bottom-section">
	  <div class="wrap">
	 
	  <div class="banner-center">
	  
					<h3>Find Your Destination</h3>
					 <p class="vd">Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident</p>
					 	  <a href="#" data-toggle="modal" data-target="#myModal2" class="play" href="#"><i class="glyphicon glyphicon-play-circle"> </i></a>
				</div>
					

	  </div>
	   <!--iframe-->
			<div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog video" role="document">
					<div class="modal-content about">
						<div class="modal-header">
							<button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body about">
							
											
						</div>
						
					</div>
				</div>
			</div>
			 <!--//iframe-->
 </div>
  <div class="testimonials module">
    <div class="container">
      <!-- TITLE -->
      <div class="test-top">
        <div class="sp-testimonials-title">
       
          <h3 class=" tittle wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">Customer satisfaction</h3>
		   
        </div>
		  <div class="sp-testimonials">
          <div class="sp">
                <div class="col-md-6 pic wow fadeInLeft animated animated" data-wow-delay=".5s">
                  <blockquote>Health amplify respect cornerstone, affordable health care inspiration. Honor human-centered design rural vulnerable population partner volunteer emergency.</blockquote>
                  <img src="__HIMG__/t4.jpg" alt="">
                  <p><strong>Caroline Stephens</strong>Sales manager</p>
                </div>
                <div class="col-md-6 pic wow fadeInRight animated animated" data-wow-delay=".5s">
                  <blockquote>Courageous change; forward-thinking provide; human experience; visionary diversity rights-based approach vaccine, equal opportunity microloans nonviolent.</blockquote>
                  <img src="__HIMG__/t1.jpg" alt="">
                  <p><strong>Walter Ashlock</strong>Merchandise manager</p>
                </div>
				<div class="clearfix"> </div>
          </div>  
        </div>
      </div>
      <!-- /TITLE -->
    </div>
  </div>
  <!-- /TESTIMONIALS -->
{include file="./common/footer"}
   
{/block}
