 <header>
            <nav class="cd-stretchy-nav">
                <a class="cd-nav-trigger" href="#0">
                    <h6>Menu</h6>
                    <span aria-hidden="true"></span>
                </a>
                <ul class="side_nav">
                    <li><a href="{:url('home/index/index')}"><span>Home</span></a></li>
                    <li><a href="typography.html"><span>Services</span></a></li>
                    <li><a href="{:url('home/articles/index')}"><span>Articles</span></a></li>
                    <li><a href="gallery.html"><span>Gallery</span></a></li>
                    <li><a href="{:url('home/contact/index')}"><span>Contact</span></a></li>
                </ul> 
                <span aria-hidden="true" class="stretchy-nav-bg"></span>
            </nav>
        </header>